# Get this value from Neon Console -> Project -> Dashboard -> Connect.
DATABASE_URL="postgresql://user:password@hostname/database?sslmode=require&channel_binding=require"

NODE_ENV=development
ARCJET_KEY="ajkey_your_key"
ARCJET_ENV=DRY_RUN
